                   /* //// NOTES CSS //// */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ffffff;
}
.btn{
    width: 100%;
    display:flex ;
    text-decoration: none;
    justify-content: center;
    margin-top: 5%;
}
.post-btn{
    font-size: 23px;
    border: none;
    border-radius: 20px;
    width: 13%;
    height: 50px;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    background-color: rgb(28, 31, 31);
}
.post-btn:hover{
     background-color: rgb(61, 61, 61);
}
.postmain-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}
.Card-containers{
    width: 90%;
    display: flex; 
    margin-top: 1%;
    margin-left: 4%;

    justify-content: flex-start;
    flex-wrap: wrap;
    /* align-items: center; */
    gap: 25px;
}
.postimage{
    width: 100%;
    /* height: 50%; */
    object-fit: cover;
}
.content{
    width: 15%;
    height: 10%;
    display: flex;
    flex-direction: column;
     margin-top: 2%;
     /* text-align: center; */
    border-radius: 20px;
    background: #ffffff;
    padding: 5px 10px  30px 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  
}
.icon-container{
    display: flex;
    gap: 12px;
    margin-top: 2%;
    justify-content:flex-end;
}
.icon1{
    color:black ;
    font-size: 25px;
    cursor: pointer;
}
.icon2{
    font-size: 25px;
    cursor: pointer;
}
.icon1:hover{
    color: rgb(145, 144, 144);
}
.icon2:hover{
    color: red;
}
.title-info{
   
    /* overflow: auto; */
    font-size: 25px;
    font-weight: 600;
    margin-top: 4%;
    color: #141414;
    
 }
 .description-info{
    font-size: 18px;
    display: -webkit-box; /* Set the display type to -webkit-box for webkit-based browsers */
    -webkit-line-clamp: 3; /* Set the number of lines to be displayed */
    -webkit-box-orient: vertical; /* Set the vertical orientation for -webkit-box */
    overflow: hidden; 
    /* max-height: 4.5em; */
    font-weight: 600;
    margin-top: 5%;
    color: #6e6969;
 }
 
  @media (max-width:500px) {
    .Card-container{
      background: #fff;
      width: 100%;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  .content{
    width: 80%;

  }
  }
  @media (max-width:715px) {
   .content .card{
      width: 100%;
  }
  .post-btn{
    width: 80%;

  }
  }
 
             /* /////// ADDNOTES  AND UPDATE  CSS //////// */
.input{
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   top:50%;
   margin-top: 15%;
   gap:20px;
}
.input-field{
    width: 30%;
    padding: 3px 20px;
    font-size: large;
    height: 40px;
    border-radius: 15px;
    background-color: #fdfdfd;
}
.input-field2{
    width: 30%;
    padding: 20px;
    font-size: large;
    height: 130px;
    border-radius: 10px;
    background-color: #fdfdfd;
}
.send-btn{
    font-size: 23px;
    border: none;
    border-radius: 20px;
    width: 13%;
    height: 40px;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
    background-color: rgb(28, 31, 31);
}